body{
  color: #e94560;
  background-color: #16213e;
  /* https://colorhunt.co/palette/201882 */
}

a{
  text-decoration: none;

}

@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap");

.App {
  text-align: center;
}

/* HEADER STYLING  */
.header{
  
  margin: 5rem auto 5rem auto;
  padding-top: 7rem;
  padding-bottom: 11rem;
}

h1{
  font-family: 'Sacramento', cursive;
  font-size: 6rem;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
}

p{
  font-family: 'Merriweather', serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
